In [123]:
import requests
import pandas as pd

In [124]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [125]:
trs =  soup.select('.pat1detail ul')
len(trs)

218

In [126]:
tr = trs[0]
tr.select('.t1')[2].text

'1. 1.(금)'

In [127]:
data = []

for tr in trs:
    d = tr.select('.t1')[2].text
    data.append(d)

In [128]:
import time #셀리늄 쓸데 꼭 필요
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
data = []
driver = webdriver.Chrome('data/chromedriver.exe')
for i in range(1,7):
    url = "https://www.jinju.go.kr/05190/05641.web?&cpage="+str(i)
    driver.get(url)
    time.sleep(2) # 로딩 기다리는 시간
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    #req = requests.get(url, verify=False) # verify 는 인증서 떄문
    trs =  soup.select('.pat1detail ul')
    #html = req.text
    for tr in trs:
       d = tr.select('.t1')[2].text
       data.append(d)

In [129]:
len(data)

1718

In [130]:
driver.close()

In [131]:
df = pd.DataFrame(data,columns=['일시'])

In [132]:
df.head(2)

          일시
0  9. 28.(화)
1  9. 28.(화)

In [133]:
df[df.일시=='1. 1.(금)']
# 1495번부터 2020년도

            일시
1495  1. 1.(금)
1496  1. 1.(금)
1497  1. 1.(금)
1498  1. 1.(금)
1499  1. 1.(금)
1500  1. 1.(금)
1501  1. 1.(금)
1502  1. 1.(금)
1503  1. 1.(금)
1504  1. 1.(금)
1505  1. 1.(금)
1506  1. 1.(금)
1507  1. 1.(금)

In [134]:
df.일시[0:5]

0    9. 28.(화)
1    9. 28.(화)
2    9. 28.(화)
3     9.27.(월)
4     9.27.(월)
Name: 일시, dtype: object

In [135]:
df['일시'][1507], df['일시'][1508]

('1. 1.(금)', '12. 31.(목)')

In [136]:
df['일시변경'][0:1508] = df.일시[0:1508].apply(lambda x: '2021-'+str(x).split('.')[0]+'-'+str(x).split('.')[1])
df['일시변경'][1508:] = df.일시[1508:].apply(lambda x: '2020-'+str(x).split('.')[0]+'-'+str(x).split('.')[1])

KeyError: '일시변경'

In [ ]:
df.일시변경[1508], df.일시변경[1507]

('2020-12- 31', '2021-1- 1')

In [ ]:
df['일시변경'] = df.일시변경.apply(lambda x: str(x).replace(' ',''))

In [ ]:
df

             일시       일시변경
0     9. 28.(화)  2021-9-28
1     9. 28.(화)  2021-9-28
2     9. 28.(화)  2021-9-28
3      9.27.(월)  2021-9-27
4      9.27.(월)  2021-9-27
...         ...        ...
1713  3. 31.(화)  2020-3-31
1714  3. 31.(화)  2020-3-31
1715  3. 28.(토)  2020-3-28
1716  2. 21.(금)  2020-2-21
1717  2. 21.(금)  2020-2-21

[1718 rows x 2 columns]

In [ ]:
df2 = df.groupby('일시변경').count()
df2.reset_index(inplace=True)

In [ ]:
df2.head()

           일시  확진자수
0  2020-10-19     1
1  2020-11-10     1
2  2020-11-17     1
3  2020-11-18     2
4  2020-11-19     1

In [137]:
df2.columns = ['일시', '확진자수']

In [138]:
df2.head()

           일시  확진자수
0  2020-10-19     1
1  2020-11-10     1
2  2020-11-17     1
3  2020-11-18     2
4  2020-11-19     1

In [139]:
df2.확진자수.sum() #총 감염자 수와 같다

1718